/*
    Hier befinden sich die Style Vorschriften für die Webapplikation
    Spziell zu erwähnen sind die SVGs welche verwendet wurden.
    Das HR element beispielsweise wurde so gestaltet, dass eine selbstgezeichnete
    SVG line gezeichnet wird.
    Die Anforderung für die MEP findet sich bei der Klasse .text-image
*/


body{
    padding: 25px;
}

hr{
    height: 5px;
    background: url("../img/hr.svg") no-repeat 100% 100%;
}
canvas{
    width: 100%;
    height: 360px;
    background-color: darkgrey;
}

#login-form input{
    width: 75%;
}

/* überschreiben  von w3.css modal fenster und card */
.w3-modal-content{
    border-radius: 25px;
    padding: 25px;
}
.w3-card{
    border-radius: 25px;
    padding: 25px;
}

/* Anforderung: "midestens ein Klassen-Selektor" */
.text-image{
    display: inline;
    position: relative;
    text-align: center;
}

/* klassen selektor wählt alle img (aber nicht die img mit dem stoerer)
unter der klasse .text-image */
.text-image img:not(.stoerer) {
    width: 75%;
    max-width: 360px;
}

/* der Stoerer wird innerhalb des Bildes absolute positioniert */
.stoerer{
    position: absolute;
    width: 25%;
    max-width: 90px;
    left: 50%;
    bottom: 25%;
}


/* responsive nav bar Hamburger Menu "Anforderung responsive Menu" */

.w3-center > .top-nav {
    width: 100%;
}

.top-nav {
    overflow: hidden;
    background-color: #1d1d1d;
}

.top-nav a {
    float: left;
    display: block;
    color: #2196F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: #2196F3;
    color: white;
}

.top-nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .top-nav a:not(:default) {display: none;}
    .top-nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .top-nav.responsive {position: relative;}
    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* Pet Flexbox Bereich Aus dem Unterrichtsblock WEBT-CSS Layouts */
.pets-flexbox-container{
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media screen and (max-width: 600px) {
    .pets-flexbox-container div{
        flex: 1 0 auto;
    }
}

.pet-box{
    display: block;
    position: relative;
    background-color: darkgrey;
    height: 300px;
    width: 300px;
}

.pet-add > *{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
